<div class="admin-title">
  <h2>Posts</h2>
  <a href="/admin/add-post" class="button">+ Add New</a>
</div>

<ul class="admin-posts">

  <% data.forEach(post => { %>
   
    <li>
      <%= post.title %> &nearr;
      <div class="admin-post-controls">
        <a href="https://www.linkedin.com/post-inspector/inspect/https:%2F%2Fwww.destruti.com%2Fpost%2F<%= post._id %>" target="_blank" class="btn">LinkedIn</a>
        <a href="/post/<%= post._id %>" target="_blank" class="btn">View</a>
        <a href="/admin/edit-post/<%= post._id %>" class="btn">Edit</a>
        <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete" class="btn-delete btn">
        </form>
      </div>

    </li>

  <% }) %>
</ul>