<a href="/admin/dashboard">&larr; Back to Dashboard</a>
<div class="admin-title">
  <h2><a href="/post/<%= data._id %>" target="_blank">View Post</a> / Edit Post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>

</div>

<form action="/admin/edit-post/<%= data._id %>?_method=PUT" method="POST">

  <input type="submit" value="Update Post" class="btn">

  <br/>
  <br/>

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">

  <label for="meta_description"><b>Meta Description</b></label>
  <input type="text" placeholder="Post description" name="meta_description" value="<%= data.meta_description %>">

  <label for="meta_og_image"><b>Meta Image with 1200 x 630</b></label>
  <input type="text" placeholder="Post IMAGE" name="meta_og_image" value="<%= data.meta_og_image %>">
  https://www.destruti.com/img/posts/laptop-rosa-1200.jpg
  <br/>
  <br/>

  <label for="meta_keywords"><b>Keywords in Hashtags</b></label>
  <input type="text" placeholder="Post Hashtags" name="meta_keywords" value="<%= data.meta_keywords %>">

  <label for="linkedin_post"><b>Link of Post in LinkedIn</b></label>
  <input type="text" placeholder="Link of Post in LinkedIn" name="linkedin_post" value="<%= data.linkedin_post %>">

  <label for="post_active"><b>Status</b></label>
  <select id="post_active" name="post_active">
    <option value="1" <%- (data.post_active==1?'selected="selected"':'') %>>1 - Active</option>
    <option value="0" <%- (data.post_active==0?'selected="selected"':'') %>>0 - Hidden</option>
  </select>
  <!-- <input type="text" placeholder="Status" name="post_active" value="<%= data.post_active %>"> -->

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="100"><%= data.body %></textarea>


</form>