<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>

    <!-- Meta Description Padrão -->
    <meta name="description" content="<%= locals.description %>">
    <meta name="author" content="Eduardo Destruti">
    <meta name="keywords" content="<%- locals.keywords %>">

    <!-- Meta Tags Open Graph -->
    <meta property="og:title" content="<%= locals.title %>">
    <meta property="og:description" content="<%= locals.description %>">
    <meta property="og:image" content="<%= locals.meta_og_image %>">
    <meta property="og:url" content="<%- locals.url %>">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Eduardo Destruti">

    <!-- Meta Tags para Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= locals.title %>">
    <meta name="twitter:description" content="<%= locals.description %>">
    <meta name="twitter:image" content="<%- locals.meta_og_image %>">
    <meta name="twitter:site" content="@limaedu">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>

</head>
<body>

    <div class="container">
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

</body>
</html>
